.topbar{
    width: 100%;
    height: 50px;
    background-color:  #F5F5F5;
    /* position: sticky; */
    top: 0;
    /* left: 15%; */
    /* z-index: 999; */
}
.topbarwrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}
.topbariconcontainer{
    position: relative;
}

.topiconbag {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: 0px;
    /* background-color: red; */
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topright{
    display: flex;
    align-items: center;
}
.topbariconcontainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}
.topavatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
@media (max-width: 768px) {
    .topbar{
        width: fit-content;
        height: 50px;
        background-color:  #F5F5F5;
        top: 0;

    }
}